{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block import %}
<script language="javascript" src="/static/bower/jquery-bootpag/lib/jquery.bootpag.min.js"></script>
<script language="javascript" src="/static/js/details.js"></script>
<style>
	.axis path,
	.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}

	.axis text {
		font-family: sans-serif;
		font-size: 11px;
	}
</style>
{% endblock %}
{% block content %}
	<div id="paging"></div>
	<div class="form-group">
		<input type="text" class="form-control" id="jump" placeholder="5">
	</div>

	<div id='content'>
		<div class="col-md-6" id="infosThread0">
			<div class="panel panel-default">
				<div class="panel-heading">Thread <span class="threadId"></span></div>
				<table class='table table-bordered'>
					<tbody id="numaTopology">
						<tr>
							<th>Lifetime</th>
							<td class="lifetime"></td>
						</tr>
						<tr>
							<th>CPU thread binding</th>
							<td class="cpuBinding"></td>
						</tr>
						<tr>
							<th>Numa thread binding</th>
							<td class="numaBinding"></td>
						</tr>
						<tr>
							<th>Numa mem. policy</th>
							<td class="numaMemPolicy"></td>
						</tr>
						<tr>
							<th>First touch</th>
							<td class="threadFirstTouch">
								<svg height="150px"></svg>
							</td>
						</tr>
						<tr>
							<th>Accesses</th>
							<td class="threadAccesses">
								<svg height="150px"></svg>
							</td>
						</tr>
						<tr>
							<th>Accesse matrix</th>
							<td>
								<div class="accessMatrix" align="center"></div>
							</td>
						</tr>
						<tr>
							<th>Access NUMA distance</th>
							<td>
								<div class="accessDistance">
									<svg height="250px"></svg>	
								</div>
							</td>
						</tr>
						<tr>
							<th>Pinning log</th>
							<td>
								<table class="table table-bordered">
									<tbody class="pinningLog">
									</tbody>
								</table>
								<!--<div class="pinningLog"></div>-->
							</td>
						</tr>
					<tbody>
				</table>
				<!--<div class="row">
					<div class="col-xs-8 col-sm-6">
						Level 2: .col-xs-8 .col-sm-6
					</div>
					<div class="col-xs-4 col-sm-6">
						Level 2: .col-xs-4 .col-sm-6
					</div>
				</div>-->
			</div>
		</div>
	</div>

{% endblock %}
