<!doctype html>
<html>
	<head>
		<title>Numaprof - {{file}} - {% block title %}{% endblock %}</title>
		<!-- jquery -->
		<script language="javascript" src="/static/jquery/jquery.min.js"></script>
		<!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
		<script language="javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
		<!-- Default style -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<!-- common scirpts -->
		<script language="javascript" src="/static/js/common.js"></script>
		{% block import %}
		{% endblock %}
	</head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="#">Numaprof</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li {% if page == "home" %} class="active"{% endif %}><a href="/index.html">Home</a></li>
					<li {% if page == "sources" %} class="active"{% endif %}><a href="/sources.html">Sources</a></li>
				</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="view-container container-fluid" role="main">
			<div id="errors"></div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
